<div class="container col-12">

  <div class="row text-center my-3 header">
    <h1>My stops</h1>
  </div>

  <div class="row content">
    <ul class="list-group">
      <% @travel.stops.each do |stop| %>
        <li class="list-group-item"><%= stop.city %></li>
        <%= link_to "Edit", edit_travel_stop_path(@travel, stop), class: "btn btn-sm button" %>
        <%= link_to "Delete", stop_path(stop),  data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete this stop?" }, class: "btn btn-sm button ml-2" %>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <%= simple_form_for [@travel, @stop] do |f| %>
      <%= f.input :city, placeholder: "Add a stop" %>
      <%= f.submit "Add", class: "btn btn-primary button" %>
    <% end %>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
