<p><strong>Stops</strong></p>
<ul class="list-group">
  <% @travel.stops.each do |stop| %>
    <li class="list-group-item"><%= stop.city %></li>
  <% end %>
</ul>
<br>

<h1>New stop</h1>
<%= simple_form_for [@travel, @stop] do |f| %>
  <%= f.input :city %>
  <%= f.submit "Submit stop", class: "btn btn-primary" %>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

