<div class="page-container">

  <div class="row text-center my-3" id="header">
    <h1>The world is yours !</h1>
    <p>Let's add some stops 🌍🧳✈️</p>
  </div>

  <br>

  <div class="content-container">
    <div class="mapbox-container" style="width: 94%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <br>

    <div class="stop-section m-3">
      <div class="row new-stop">
        <h1><%= @travel.country.capitalize %> new stop</h1>
        <%= simple_form_for [@travel, @stop] do |f| %>
          <%= f.input :city %>
          <%= f.submit "Submit stop", class: "button text-center" %>
        <% end %>
      </div>
      <br>

      <div class="row">
        <p><strong>Stops</strong></p>
        <ul class="list-group">
          <% @travel.stops.each do |stop| %>
            <li class="list-group-item stop-card d-flex justify-content-between align-items-center" style="font-size: 16px; font-weight: bold; margin-bottom: 8px; margin-top: 0; margin-right: 0;">
              <span><%= stop.city.capitalize %></span>
              <div class="d-flex gap-2">
                <%= link_to stop_path(@travel.stops.first), class: "all-button" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="20px" width="24px" ><path fill="#eae6e6" d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/></svg>
                <% end %>
                <%= link_to edit_travel_stop_path(@travel, stop), class: "all-button" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                <% end %>
                <%= link_to stop_path(stop), data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete this stop?" }, class: "all-button" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row link justify-content-center">
  <div class="col-11">
    <%= link_to "Ask Exploreo for more details ... 😉", travel_chats_path(@travel), class: "all-button w-100" %>
  </div>
</div>

</div>
