<div class="container col-12">

  <div class="row text-center my-3 header">
    <h1>Add infos to <%= @stop.city.capitalize %>!</h1>
  </div>

    <div class="row add-infos my-3">
      <%= simple_form_for [@travel, @stop, @picture] do |f| %>
        <%= f.input :photos, label: "Pictures", as: :file, input_html: { multiple: true } %>
        <%= f.input :description, label: false, placeholder:"Add a description" %>
        <%= f.submit "Add picture(s)", class: "all-button" %>
      <% end %>
    </div>

    <div class="row add-budget my-3">
      <%= simple_form_for [@travel, @stop, @spending] do |f| %>
        <%= f.input :category, label: "Spendings", placeholder:"Spending category", collection: ["Accomodation", "Food", "Leisure", "Transport"] %>
        <%= f.input :amount_cents, label: false, placeholder:"Add an amount" %>
        <%= f.submit "Add spendings", class: "all-button" %>
      <% end %>
      <br>
      <br>

      <div class="row add-infos my-3">
      <%= simple_form_for [@travel, @stop, @note] do |f| %>
        <%= f.input :content %>
        <br>
        <br>
        <%= f.submit "Add notes", class: "btn btn-primary button" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
