<div class="container">

  <div class="row text-center my-3 classic-text" id="header">
      <h1>Chats for <%= @travel.country %></h1>
  </div>


  <div class="mb-4">
    <% if @chats.any? %>
      <ul class="list-group classic-text">
        <% @chats.each do |chat| %>
          <li class="list-group-item d-flex justify-content-between align-items-center classic-text">
            <%= link_to chat.title, travel_chat_path(@travel, chat), class: "stretched-link text-decoration-none text-dark classic-text" %>
            <span class="badge rounded-pill link-btn"><%= chat.messages.where(role:"user").count %> messages</span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="text-center chats-index classic-text">
        There are no chats yet.
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-3 link">
    <%= simple_form_for [@travel, @chat] do |f| %>
    <div class="btn-centerred">
      <%= f.submit "New chat", class: "all-button" %>
    <% end %>
    </div>
  </div>

</div>
