<div class="container mt-3 mb-3">

  <%= link_to "My trip in #{@chat.travel.country}", travel_path(@chat.travel), class: 'btn btn-primary link-btn' %>

  <div class="row text-center my-3 classic-text" id="header">
    <h1><%= @chat.title %></h1>
  </div>

  <% @chat.messages.each do |message| %>
    <% if message.role == "user" %>
      <div class="d-flex justify-content-end mb-2 classic-text">
        <div class="bg-white px-3 pb-0 pt-3 rounded-pill classic-text">
          <p>
            <%= render_markdown(message.content).html_safe %>
          </p>
        </div>
      </div>
    <% elsif message.role == "assistant" %>
      <div class="d-flex justify-content-start mb-5 classic-text">
        <div class="px-3 pb-0 pt-3 link-style classic-text">
          <p>
            <%= render_markdown(message.content).html_safe %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, placeholder: "Ask me anything to plan your trip", required: true, label: false %>
    <%= f.button :submit, 'Ask Exploreo', class: 'btn btn-primary link-btn' %>
  <% end %>
</div>
