<!DOCTYPE html>
<html>
  <head>
    <title>GlobetrailApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="banner banner-bg" style="background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(219, 216, 216, 0.4)), url(https://cdn.prod.website-files.com/6376980d89260e9c2cdee566/64df81d6200a0e03c45e823a_famous-buildings-round-the-world-travel-wallpaper.jpg)">
      <%= link_to travels_path, class: "text-decoration-none text-dark" do %>
        <h2 class="merienda-font m-0 text-center banner-title">GlobeTrail</h2>
      <% end %>
    </div>
    <%= yield %>
    <nav>
      <div class="navbar">
        <a href="#">MY TRAVELS</a>
        <%= image_tag("logo", alt: "Logo du site", class: "logo", width: 55, height: 55) %>
        <a href="#">ASK EXPLOREO</a>
      </div>
    </nav>
  </body>
</html>
