<!DOCTYPE html>
<html>
  <head>
    <title>GlobetrailApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <nav>
      <div class="navbar">
        <a href="#">MY TRAVELS</a>
        <%= image_tag("logo", alt: "Logo du site", class: "logo", width: 45, height: 45) %>
        <a href="#">ASK EXPLOREO</a>
      </div>
    </nav>
  </body>
</html>
